/*------------------------------------------------------------------
[Typography]
*/

a {
	color: #bdc3c7;
}

a:hover,
a:focus {
	color: #752B94;
}

/*------------------------------------------------------------------
[Buttons]
*/

.btn.btn-def,
.btn.btn-def.btn-outline:hover {
	border-color: #bdc3c7;
	background: #bdc3c7;
	color: #fff;
}

.btn.btn-def:hover {
	border-color: #A4AAAE;
	background: #A4AAAE;
}

.btn.btn-def.btn-outline {
	background: transparent;
	color: #bdc3c7;
}

/*------------------------------------------------------------------
[Progress bars]
*/

.progress-bar.progress-bar-def {
	background: #bdc3c7;
}

/*------------------------------------------------------------------
[Tabs]
*/

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #bdc3c7;
}

/*------------------------------------------------------------------
[Pagination]
*/

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover,
.pagination > li > span.current {
	color: #bdc3c7;
}

/*------------------------------------------------------------------
[Portfolio]
*/

.filters li a.current {
	color: #bdc3c7;
}

/*------------------------------------------------------------------
[Iconbox]
*/

.iconbox-icon {
	background: #bdc3c7;
}

.iconbox-icon:hover:after {
	border-color: #bdc3c7;
}

/*------------------------------------------------------------------
[Profile]
*/

.profile-icon {
	color: #bdc3c7;
}